<%= simple_form_for quote, html: {class: "quote form"} do |f| %> 
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence %> 
    </div>
  <%end%>
 
  <%=  f.input :name %>
  <br>
  <div id="buttons">
    <%= button_to 'cancel',  quotes_path, class: 'btn btn--primary' %>  
    <%= f.submit  class: 'btn btn--secondary' %>
  </div>
  
  
<%end%>
  
